@charset "utf-8";

    .content { width: 100vw; height: 100vh;  background-color: #000;  margin-left: 0;}
    .content .con_box { width: 100%; }
    .content .con_box .hd{ width: 100%; }
    .content .con_box .hd .logo { width: 300px; height: 100px; margin: 0 auto; padding-top: 30px; }
    .content .con_box .hd .logo a { display: block; width: 100%; height: 100%; background-image: url("../logo/logo_ws.png"); text-indent: -9999px; }
    .content .con_box .hd p.gw_fix { position:fixed; right: 0; top: 0; color:#fff; font-size: 15px;  width: 10%; height: 5%; padding: 1%; box-sizing: border-box;  }

    /*ft*/
.ft { width: 100vw;  height: 15%; position: fixed; bottom: 0; left: 0; z-index: 80; box-sizing: border-box; padding-left:5%; color: #000; display: none; }
.ft .tit { line-height: 2.0; font-size: 18px;}

.ft p { float: left; line-height: 1.8; margin-right: 1%; font-size: 13px; }
.ft p.add { width: 100%; }
.ft p.add2 { float:left; width: 100%; } 
.ft p.add3  { width: 100%; }
.ft p.call { width: 100%; clear: both; }
.ft p.call:before { content: ""; display: block; width: 15px; height:15px; background-image: url("../sns/tell_s.png"); float: left; margin:1.5% ;  margin-right: 10px; background-color: #fff; border-radius: 20px;}


.ft .ft_box .sns { position:absolute;  padding: 0; right: 10%; bottom:25%; }
.ft .ft_box .sns li { float: left; width: 30px }

.ft .ft_box .sns li a { display: block; float: left; text-indent: -9999px; width: 20px; height: 20px; border-radius:35px; border: 2px solid #fff;  background-color: #fff;}
.ft .ft_box .sns li.sns1 a { background-image: url("../sns/face_m.png"); background-color: #fff;}
.ft .ft_box .sns li.sns1 a:hover { border-color: #3a5a9b; background-color:#3a5a9b; }
.ft .ft_box .sns li.sns2 a { background-image: url("../sns/insta_m.png");}
.ft .ft_box .sns li.sns2 a:hover { border-color: #86358d; background-color:#86358d; }
.ft .ft_box .sns li.sns3 a { background-image: url("../sns/kakao_m.png");}
.ft .ft_box .sns li.sns3 a:hover {border-color: #f8ef2c; background-color:#f8ef2c; }


@media screen and (min-width:768px) and (max-width:960px) {
    .content { width: 100vw; height: 100vh;  background-color: #000;  margin-left: 0;}
    .content .con_box { width: 100%; }
    .content .con_box .hd{ width: 100%; }
    .content .con_box .hd .logo { width: 300px; height: 100px; margin: 0 auto; padding-top: 30px; }
    .content .con_box .hd .logo a { display: block; width: 100%; height: 100%; background-image: url("../logo/logo_ws.png"); text-indent: -9999px; }
    .content .con_box .hd p.gw_fix { position:fixed; right: 0; top: 0; color:#fff; font-size: 15px;  width: 10%; height: 5%; padding: 1%; box-sizing: border-box;  }
    

}


@media screen and (min-width:961px) and (max-width:1280px) { 
    .content { width: 79vw; height: 100vh;  background-color: #000; margin-left:21vw; }
    .content .con_box { width: 100%; }
    .content .con_box .gnb{ width: 100%; }
    .content .con_box .gnb p.gw_fix { position:fixed; right: 0; top: 0; color:#fff; font-size: 15px;  width: 10%; height: 5%; padding: 1%; box-sizing: border-box;  }


}