@charset "utf-8";


    
.left_fix .gnb { font-size: 20px; padding-top: 50px; padding-left: 50px; box-sizing: border-box; }
.left_fix .gnb li a { display: block; line-height: 1.6; color: #aaa; font-weight: 700}